/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue-color: 225;
  --first-color: hsl(var(--hue-color), 48%, 35%);
  --title-color: hsl(var(--hue-color), 48%, 22%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --body-color: hsl(var(--hue-color), 49%, 98%);
  --container-color: #FFF;
  --black-color: #121212;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}
@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
  align-content: center;
  height: 100vh;
}
.accordion__container {
  display: grid;
  row-gap: 0.75rem;
  padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
}
.accordion__user {
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
}
.accordion__title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-top: 0.15rem;
  transition: 0.2s;
}
.accordion__header {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: var(--smaller-font-size);
}
.accordion__icon {
  font-size: 1.5rem;
  height: -moz-max-content;
  height: max-content;
  color: var(--title-color);
  transition: 0.3s;
}
.accordion__item {
  box-shadow: 0 2px 6px hsla(0, 0%, 15%, 0.1);
  background-color: var(--container-color);
  border-radius: 0.25rem;
  position: relative;
  transition: all 0.25s ease;
}
.accordion__item::after {
  content: "";
  background-color: var(--first-color);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}
.accordion__item:nth-child(1) {
  background-color: hsl(28, 100%, 97%);
}
.accordion__item:nth-child(1)::after {
  background-color: hsl(28, 100%, 77%);
}
.accordion__item:nth-child(2) {
  background-color: hsl(240, 100%, 97%);
}
.accordion__item:nth-child(2)::after {
  background-color: hsl(240, 100%, 77%);
}
.accordion__item:nth-child(3) {
  background-color: hsl(348, 100%, 97%);
}
.accordion__item:nth-child(3)::after {
  background-color: hsl(348, 100%, 77%);
}
.accordion__item:nth-child(4) {
  background-color: hsl(200, 100%, 97%);
}
.accordion__item:nth-child(4)::after {
  background-color: hsl(200, 100%, 77%);
}
.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}
.accordion .exit {
  position: absolute;
  right: 1.1rem;
  top: 1.1rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  color: rgba(255, 0, 0, 0.527);
  cursor: pointer;
}
.accordion .exit i {
  transition: all 0.3s ease-in-out;
}
.accordion .exit:hover {
  color: red;
}
.accordion .exit:hover i {
  margin-left: 6px;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
  transform: rotate(45deg);
}
.accordion-open .accordion__title {
  font-weight: 600;
}

/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .accordion__container {
    width: 550px;
    padding: 2.5rem;
    justify-self: center;
    border-radius: 0.75rem;
  }
  .accordion__header {
    padding: 1.5rem;
  }
  .accordion__title {
    padding-right: 3.5rem;
  }
  .accordion__description {
    padding: 0 4rem 1.25rem 3.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  form {
    width: 60%;
  }
}
/*==============SOCIALS==============*/
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
}
.socials i {
  background: var(--container-color);
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 3px;
}
.socials a {
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.socials a:nth-child(1):hover {
  transform: scale(1.1);
  border: 2px solid red;
}
.socials a:nth-child(1):hover i {
  color: red;
}
.socials a:nth-child(2):hover {
  transform: scale(1.1);
  border: 2px solid blue;
}
.socials a:nth-child(2):hover i {
  color: blue;
}
.socials a:nth-child(3):hover {
  transform: scale(1.1);
  border: 2px solid aqua;
}
.socials a:nth-child(3):hover i {
  color: aqua;
}

/*==============FORM==========*/
.form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  width: 100%;
}
.form .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form .wrapper .title {
  font-size: 2rem;
  padding: 3px;
  margin-bottom: 2rem;
  text-align: center;
}
.form .wrapper .title span {
  color: rgb(12, 100, 174);
  border-left: 2px solid rgb(12, 100, 174);
  padding-left: 6px;
}
.form .wrapper .socials {
  margin: 0;
}
.form .wrapper form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
}
.form .wrapper form .inputBox {
  position: relative;
  width: 100%;
}
.form .wrapper form .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.589);
  outline: none;
  color: #121212;
  font-family: var(--body-font);
  background: #fff;
}
.form .wrapper form .inputBox input:valid ~ span, .form .wrapper form .inputBox input:focus ~ span {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.7em;
  padding: 0 10px;
  color: #fff;
  background-color: rgb(12, 100, 174);
}
.form .wrapper form .inputBox input:valid, .form .wrapper form .inputBox input:focus {
  border: 1px solid rgb(12, 100, 174);
}
.form .wrapper form .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(128, 128, 128, 0.589);
  transition: all 0.5s ease-in-out;
}
.form .wrapper form .registration a {
  border: 2px solid transparent;
  font-size: var(--normal-font-size);
  color: rgb(102, 1, 80);
  cursor: pointer;
}
.form .wrapper form .registration a:hover {
  border-bottom: 2px solid rgb(102, 1, 80);
}

.form.login {
  transform: translateX(-40%);
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.form.registration {
  transform: translateX(40%);
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.form.login.active,
.form.registration.active {
  transform: translateX(0);
  pointer-events: visible;
  opacity: 1;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
.btn-submit-ripple {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  background: rgb(40, 116, 183);
  background: linear-gradient(106deg, rgb(40, 116, 183) 8%, rgb(49, 65, 140) 43%, rgb(91, 15, 93) 85%);
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-font);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn-submit-ripple .ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6588235294);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: ripple 1s;
  opacity: 0;
}
.btn-submit-ripple:hover {
  background: linear-gradient(-106deg, rgb(40, 116, 183) 8%, rgb(49, 65, 140) 43%, rgb(91, 15, 93) 85%);
}/*# sourceMappingURL=styles.css.map */